-const data = require('./templates.json')
.container
  .templates     
    ul.templates__colors
      each i, index in data
        li.templates__row
          .templates__color(class= 'templates__color_' + index)
          style. 
            .templates__color_#{index} {
              background-color: #{i.value};
              opacity: #{i.opacity};
            }        
          .templates__color-name
            .templates__color-title= i.title
            .templates__color-value= i.value
    ul.templates__types
      h1.templates__types-name H1
      h1.templates__types-description This one is the sub-section or widget title
      h2.templates__types-name H2 
      h2.templates__types-description Next one is the item title inside widgets
      h3.templates__types-name H3
      h3.templates__types-description This is a label or CTA text
      p.templates__types-name Body 
      p.templates__types-description This is the body text which is used for most of the design, like paragraphs, lists, etc.
