mixin input(category, text)    
  if(category=='default')
    div(class='row input-row')
      input(type='text', placeholder=text, class='input') 
  if(category=='dropdown') 
    div(class='row input-row')     
      input(type=text, value=text, class='input input_withBtn')
      button(type='button', class='input-row__btn icon-down-open')
  if(category=='date') 
    div(class='row input-row input-row_date')     
      input(type='date', value=text, class='input input_withBtn')
      button(type='button', class='input-row__btn icon-down-open')
  if(category=='subscript') 
    div(class='row input-row input-row_subscript')     
      input(type=text, placeholder=text, class='input input_withBtn')
      button(type='button', class='input-row__btn icon-right')



    
    
