include ../icon-open/icon-open.pug
include ../icon-arrow/icon-arrow.pug

mixin input({type='dropdown', fontType='text', value, focus=false})  
  .input.js-input(class='input_' + type)

    if(type=="subscript")
      input.input__field(type=fontType, placeholder=value)
      button.input__btn.js-input__btn.input__btn_with-arrow(type="button")
        +icon-arrow()

    if(type=="dropdown")
      input.input__field.js-input__field(type=fontType, value=value)
      button.input__btn.js-input__btn(type="button")
        +icon-open()

    if(type=="date")
      input.input__field.js-input__field(type=fontType, placeholder=value)
      button.input__btn.js-input__btn(type="button")
        +icon-open()

    if(type=="empty")
      input.input__field(type=fontType, placeholder=value, autofocus=focus)    


  

    
    
