-const data = require('./review.json')

each val in data
  .review-item
    .row
      .col
        .review__image
          img(srcset=`${require(`./img/${val.name}.png`)}`)
        .review__like like
      .col 
        .review__title= val.name 
        .review__subtitle= val.time 
        .review__content= val.content
