-const data = require('./colors.json')
.container
  .colors     
    ul.colors-list
      each i, index in data
        li.row.colors-item
          .colors-item__color(id= 'colors-item__color_' + index)
          style. 
            #colors-item__color_#{index} {
              background-color: #{i.value};
              opacity: #{i.opacity};
            }        
          .colors-item__name
            .title= i.title
            .value= i.value
    ul.type-list
      h1.type_light H1
      h1 This one is the sub-section or widget title
      h2.type_light H2 
      h2 Next one is the item title inside widgets
      h3.type_light H3
      h3 This is a label or CTA text
      p.type_light Body 
      p This is the body text which is used for most of the design, like paragraphs, lists, etc.
