mixin feature(title, text)
  -const featureData = require("@c/feature/feature.json")
  -const featureSrc = require("@a/icons/info-icons/" + featureData[title].src)
  -const featureAlt = `${featureData[title].alt}`
  .feature
    .feature__content
      .feature__icon 
        img.feature__image(src=featureSrc alt=featureAlt)
      .feature__col
        .feature__title= title
        .feature__text= text    