- const data = require('@c/catalog-list/catalog-list.json')
include ../rate/rate.pug

.catalog-list
  each val in data  
    .catalog-item
      .catalog-item__carousel.carousel
        a.carousel-mover.carousel-mover_left
          span.carousel-mover__btn.icon-left-open
        .carousel-image
          img(srcset=`${require(`@c/catalog-list/img/${val.num}/${val.num}-1.png`)}`)
        a.carousel-mover.carousel-mover_right
          span.carousel-mover__btn.icon-right-open
        ol.carousel-indicators  
          li.active 
          li
          li
          li
      .catalog-item-content
        .row.catalog-item-row
          h4= '№' + val.num
          if(val.luxury) 
            .p_light люкс
          .p_lightGrey= val.cost + ' р в сутки'
        .catalog-item__divider
        .row.catalog-item-row
          +rate(val.stars)                 
          .p_lightGrey= val.review + ' отзывов'