mixin checkbox(id, text, subtext)
  label.row.row_start.check
    input.input_hidden.check__input(type="checkbox" id=id checked=attributes.class)
    span.check__box.icon-check
    .check__text
      if(subtext)      
        p.p_bold=text
        p.check__subtext.p_small=subtext
      else 
        p.p_lightGrey=text