include ../icon-check/icon-check.pug

mixin checkbox({id, text, subtext, checked=false})
  .checkbox.js-checkbox
    label.checkbox__label
      input.checkbox__input(type="checkbox" id=id checked=checked)
      span.checkbox__box
        span.checkbox__icon
          +icon-check()      
      span.checkbox__content 
        if(subtext)     
          span.checkbox__text.checkbox__text_bold=text
          span.checkbox__subtext=subtext
        else 
          span.checkbox__text.checkbox__text_light=text