mixin checkbox(id, text, subtext)
  label.row.row_start.check
    input.check__input(type="checkbox" id=id checked=attributes.class)
    span.check__box.icon-check
    if(subtext)
      .check__text
        p.p_bold=text
        p.p_small=subtext
    else 
      p.p_lightGrey=text