mixin calculation({ cost = 9990, discount = 2179, fee = 300, days = 4 })
  .calculation  
    p.calculation__text= cost.toLocaleString() + '₽ х '
      span.calculation__text= days + ' суток'
    p.calculation__text 
    p.calculation__text.calculation__text_with-cost 
      span.calculation__text= (cost*days).toLocaleString() + '₽'

    p.calculation__text Сбор за услуги: скидка 
      span.calculation__text= (discount).toLocaleString() + '₽'
    p.calculation__text.calculation__text_with-circle i
    p.calculation__text.calculation__text_with-cost 0₽

    p.calculation__text Сбор за дополнительные услуги
    p.calculation__text.calculation__text_with-circle i
    p.calculation__text.calculation__text_with-cost
      span.calculation__text= fee + '₽' 
    
      